h1{
    color: aqua;
}

.h2{
    color: blue;
}

h3{
    color: brown;
}

.p{
    color: yellow;
    background: red;
    border:2px;
    border-color: black;
}
.text{
    font-family:
}